.rwd-table {
    background: #fff;
    /* overflow: hidden; */
}

.rwd-table tr:nth-of-type(2n) {
    background: #efefef;
}

.rwd-table th,
.rwd-table td {
    margin: 0.5em 1em;
    user-select:none;
}

.rwd-table {
    min-width: 100%;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.rwd-table th,
.rwd-table td {
    text-align: left ;
}

.rwd-table th,
.rwd-table td:before {
    color: #D20B2A;
    font-weight: bold;
}

.rwd-table td:empty{
    display:none;
}

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
    .rwd-table th,
    .rwd-table td {
        text-align: center ;
    }
    .rwd-table th{
        background:rgba(109,136,160,.25);
    }
    .rwd-table td:empty{
        display:table-cell;
    }
}